.search-container {
    padding: 0 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    background-color: #9693933a;
    padding: 10px 30px 10px 10px;
    transition: background-color 0.2s ease;
  }
  
  .search-input::placeholder {
    color: #ccc;
  }
  
  .search-input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 2px #ccc;
  }
  
  .search-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 18px;
    color: #666;
    pointer-events: none;
  }