.App {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
  transition: background-color 0.5s ease;
}

.App-header {
  background-color: transparent;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  width: 15%;
}

.Logo {
  font-size: 24px;
}

.profile-pic {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-button, .menu-overlay {
  display: none;
}

.App-main {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.player-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 40px;
  align-items: center;
}

.Player {
  width: 340px;
}

.App-content {
  width: 100%;
}

@media (max-width: 768px) {
  .App {
     flex-direction: column;
     height: fit-content;
   }
 
  .App-header {
     width: 100%;
     padding: 10px;
   }

  .menu-overlay {
    display: block;
  }
 
  .App-content {
     flex-direction: column;
     align-items: center;
     padding: 10px;
   }
 
  .player-side {
     width: 100%;
     height: 100vh;
     color: #fff;
     padding: 10px;
   }
 
  .App-header .Logo, .App-main, .profile-pic {
     display: none;
   }
 
  .menu-button {
     display: block;
     position: absolute;
     top: 20px;
     left: 20px;
     background-color: transparent;
     color: white;
     border: none;
     font-size: 24px;
     cursor: pointer;
     transition: 0.2s ease;
   }
 
  .menu-button:hover {
     color: #ccc;
   }
 }